# Basic Statistics

Check for;
- Mean
- Median
- Mode
- Standard Deviation
- Data Correlation

In [1]:
import numpy as np
import pandas as pd

## Assign the data to a DataFrame 

Cars

In [2]:
cars = pd.read_csv(r'C:\Users\user\OneDrive\Desktop\My Jupyter Course\cars_data.csv')

In [3]:
print(cars)
print ('\n' + '='*50 + '\n')

   Manufacturer       Model  Engine size Fuel type  Year of manufacture  \
0          Ford      Fiesta          1.0    Petrol                 2002
1       Porsche  718 Cayman          4.0    Petrol                 2016
2          Ford      Mondeo          1.6    Diesel                 2014
3        Toyota        RAV4          1.8    Hybrid                 1988
4            VW        Polo          1.0    Petrol                 2006
..          ...         ...          ...       ...                  ...
95           VW      Passat          1.4    Diesel                 2010
96         Ford       Focus          2.0    Petrol                 2002
97         Ford      Mondeo          1.6    Hybrid                 2005
98           VW      Passat          1.6    Diesel                 2018
99          BMW          M5          4.4    Petrol                 1987

    Mileage  Price
0    127300   3074
1     57850  49704
2     39190  24072
3    210814   1705
4    127869   4101
..      ...    ...
95    64359  15563
96   180048   4086
97   142689   7247
98    22122  36634
99   226046   2956

[100 rows x 7 columns]

==================================================

## Print Mean of the dataset

Using .mean()

In [4]:
print('mean for each numrical value')
print(cars.select_dtypes(include = ['number']).mean())
print ('\n' + '='*50 + '\n')

mean for each numrical value
Engine size                 1.671
Year of manufacture      2002.820
Mileage                120893.370
Price                   12732.370
dtype: float64

==================================================

## Print Median of the dataset

Using .median()

In [5]:
print('median for each numerical value')
print(cars.select_dtypes(include = ['number']).median())
print ('\n' + '='*50 + '\n')

median for each numerical value
Engine size                 1.6
Year of manufacture      2002.5
Mileage                112242.5
Price                    6285.0
dtype: float64

==================================================

## Print Mode of the dataset

Using .mode()

In [6]:
print('Mode for each numerical value')
print(cars.select_dtypes(include = ['number']).mode())
print ('\n' + '='*50 + '\n')

Mode for each numerical value
    Engine size  Year of manufacture  Mileage   Price
0           1.0               2010.0    14070  2543.0
1           NaN                  NaN    18985  3074.0
2           NaN                  NaN    21834     NaN
3           NaN                  NaN    22122     NaN
4           NaN                  NaN    22371     NaN
..          ...                  ...      ...     ...
95          NaN                  NaN   262514     NaN
96          NaN                  NaN   272161     NaN
97          NaN                  NaN   279656     NaN
98          NaN                  NaN   293666     NaN
99          NaN                  NaN   333629     NaN

[100 rows x 4 columns]

==================================================

## Print Standard Deviation of the dataset

Using .std()

In [7]:
print('Standard deviation for each numerical data')
print(cars.select_dtypes(include = ['number']).std())
print ('\n' + '='*50 + '\n')

Standard deviation for each numerical data
Engine size                0.639964
Year of manufacture       10.093883
Mileage                75833.033082
Price                  16803.682232
dtype: float64

==================================================

## Print Correlation of the dataset

Using .corr()

In [8]:
print('Data Correlation (Numeric columns only): ')
print(cars.select_dtypes(include = ['number']).corr())
print ('\n' + '='*50 + '\n')

Data Correlation (Numeric columns only):
                     Engine size  Year of manufacture   Mileage     Price
Engine size             1.000000             0.099885 -0.075638  0.489188
Year of manufacture     0.099885             1.000000 -0.822289  0.742265
Mileage                -0.075638            -0.822289  1.000000 -0.649239
Price                   0.489188             0.742265 -0.649239  1.000000

==================================================